{% set params = { current: current, category: 'subscriptions' } %}
{{  component('semantic~tabs.vertical',{ 
    items: [ 
        { 
            id: 'driver_tab',
            title: labels.dirver,
            component: 'oauth::admin.settings.driver',
            icon: 'cogs',
            active: true,
            params: params 
        }
    ], 
    menu: { id: 'settings_menu' }, 
    item_class: 'settings-tab-item',
        content: { 
            id: 'settings_content',
            component: 'oauth::admin.settings.driver',
            params: params 
        } 
    })
}}